[user]
    name = Jason Ivey
    email = jasonivey@gmail.com
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    d = diff
    ld = log -p
    last = log -1 HEAD
    unstage = reset HEAD --
    latest = checkout
    save = stash save
    unsave = stash apply
    dsf = "!f() { [ -z \"$GIT_PREFIX\" ] || cd \"$GIT_PREFIX\" && git diff --color \"$@\" | diff-so-fancy  | less --tabs=4 -RFXS; }; f"
    patch = !git --no-pager diff --no-color
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[commit]
    template = ~/.git_commit_template.txt
[pull]
    rebase = false
[color]
    ui = true
[core]
    whitespace = cr-at-eol
    excludesfile = ~/.gitignore_global
    pager = diff-so-fancy | less --tabs=4 -RFX
    editor = vim
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[color "diff"]
    meta = 11
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
    whitespace = red reverse
[diff-so-fancy]
    markEmptyLines = true
    changeHunkIndicators = true
    stripLeadingSymbols = true
    useUnicodeRuler = true
    rulerWidth = 120
[diff]
	tool = bc3
[merge]
	tool = bc3
[mergetool "bc3"]
	trustExitCode = true
