[user]
	name = Jason Ivey
	email = ivey@adobe.com

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    d = diff
    ld = log -p
    last = log -1 HEAD
    unstage = reset HEAD --
    latest = checkout
    save = stash save
    unsave = stash apply

[color]
    ui = true
[core]
    whitespace = cr-at-eol
	excludesfile = /Users/ivey/.gitignore_global
[diff]
    tool = bcomp
[difftool]
    prompt = false
[difftool "bcomp"]
    trustExitCode = true
    cmd = "/usr/local/bin/bcomp" \"$LOCAL\" \"$REMOTE\"
[merge]
	tool = bcomp
[mergetool]
    prompt = false
[mergetool "bcomp"]
    trustExitCode = true
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/ivey/.stCommitMsg
