.shpotify.cfg
alfred/
config/.config/configstore/update-notifier-npm.json
config/.config/conky
config/.config/gcloud
config/.config/noip2/no-ip2.conf
config/.config/pulse
iterm2/.iterm2
mmotd
!config/.config/mmotd/
mpv.conf
secrets/retrieve_secrets.sh
settings_tree.txt
vim/.vim/backups/
vim/.vim/bundle/
vim/.vim/swapfiles/
vim/.vim/viminfo
