[user]
    name = Jason Ivey 
    email = jason.ivey@movenetworks.com

[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    d = diff
    ld = log -p
    last = log -1 HEAD
    unstage = reset HEAD --
    latest = checkout
    save = stash save
    unsave = stash apply

[color]
    ui = true
[core]
    whitespace = cr-at-eol
[diff]
    tool = bc3
[difftool "bc3"]
    cmd = "/usr/bin/bcompare" "-solo" "$LOCAL" "$REMOTE"

