mpv.conf
.shpotify.cfg
config/.config/noip2/no-ip2.conf
config/.config/configstore/update-notifier-npm.json
config/.config/gcloud
config/.config/pulse
config/.config/conky
secrets/retrieve_secrets.sh
vim/.vim/backups/
vim/.vim/bundle/
vim/.vim/swapfiles/
vim/.vim/viminfo
alfred/
settings_tree.txt
