#!/bin/bash
# vim:softtabstop=4:ts=4:sw=4:expandtab:tw=120

alias ssh-developer='ssh developer.movenetworks.com;set-tab-color'
alias ssh-debug001='ssh debug001.sv1.movenetworks.com;set-tab-color'
alias ssh-dev-box='ssh dev-box;set-tab-color'
alias ssh-dev-widevine='ssh d-af1-widevine-1.d.movetv.com;set-tab-color'
alias ssh-qa-widevine='ssh q-slc3-widevine-1.q.movetv.com;set-tab-color'
alias ssh-build-dynmux='ssh d-af1-js140464-3.dev.movenetworks.com;set-tab-color'
alias ssh-devbox='ssh q-af1-dsdr1464-1.dev.movenetworks.com;set-tab-color'
alias ssh-rsupdate='ssh ubuntu@rsupdate.qa.movetv.com;set-tab-color'
alias ssh-home='ssh jasoni@74.81.237.96;set-tab-color'
